src/main/mule/praneep.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0618c95e-b325-43af-a1f2-89e93a788375" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="praneepFlow" doc:id="7ae0f08e-0b96-449a-9efa-5d18097a2ebb" >
		<http:listener doc:name="Listener" doc:id="fea4858b-5ca3-46b6-bf0f-ae5b04a8d84a" config-ref="HTTP_Listener_config" path="/send"/>
		<logger level="INFO" doc:name="Logger" doc:id="11b75e45-0f69-49f3-a1a0-e638c20670af" message="#[payload]"/>
	</flow>
</mule>
